# for lepton_2
#	core_17
#
*.DS_Store
.gitignore
upload/config.php
upload/config_.php
upload/framework/classes/setup.ini

upload/account/
upload/include/
upload/languages/
upload/media/

upload/page/
upload/temp/
upload/templates/

upload/modules/droplets/install/
upload/modules/newsreader
upload/modules/lib_r_filemanager/filemanager/thumbs/

upload/templates/lepsem/backend/start/
upload/templates/lepsem/backend/start_/